[core]
  editor = vim
  autocrlf = input

[user]
	name = Abhinav Lal
	email = abhinav@practo.com

[color]
  diff = auto
  branch = auto
  status = auto
  interactive = auto
  ui = true
  pager = true

[apply]
  whitespace = fix

[branch]
  autosetuprebase = always

[merge]
  conflictstyle = diff3

[alias]
  ci = commit
  st = status
  lg = log --all --graph --decorate --date-order

[push]
  default = matching
