[core]
  editor = vim
  autocrlf = input

[user]
	name = Abhinav Lal
	email = abhinav@practo.com

[color]
  diff = auto
  branch = auto
  status = auto
  interactive = auto
  ui = true
  pager = true

[apply]
  whitespace = fix

[branch]
  autosetuprebase = always
[alias]
	st = status
	ci = commit
	br = branch
	df = diff
	lg = log --all --graph --decorate --date-order
[push]
	default = simple
[diff]
color=auto
[merge]
conflictstyle=diff3
[credential]
	helper = cache
